html {
    background-color: dodgerblue;
}
body {
    display: block;
    width: 100%;
    max-width: 710px;
    margin: 1em auto 1.5em auto;
    color black;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    vertical-align: top;
}
.header {
    position: fixed !important;
    z-index: 1;
    width: 100%;
    max-width: 710px;
    background: url('http://www.seeedstudio.com/depot/images/product/WiFi%20Serial%20Transceiver%20Module.jpg');
}
.header > h1 {
    margin: 0;
    display: inline-block;
    margin: 520px 0 5px 5px;
    font-weight: 400;
}
.actualstuff {
    position: absolute;
    top: 575px;
    width: 100%;
    max-width: 710px;
    z-index: 2;
    border-top: 3px solid FireBrick;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 1em;
    background-color: Chartreuse;
}
.main-wrap {
    padding: 5px;
    width: calc(100% - 10px);
    background-color: #fff;
    display: inline-block;
}
.nav {
    display: inline-block;
    width: 145px;
    position: fixed;
}
.nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-a {
    color: NavajoWhite;
    transition: 0.1s linear all;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    display: block;
    background-color: oliveDrab;
    margin: 0;
    margin-top: 5px;
}
.nav-a:hover {
    background-color: lime;
    color: saddlebrown;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: rebeccapurple;
    font-weight: 400;
}
.main {
    display: inline-block;
    width: 550px;
    float: right;
}
img {
    width: 550px;
}
.cell:nth-child(odd) {
    background: lightgray;
}
.cell:nth-child(even) {
    background: white;
}
thead tr {
    background-color: darkgray;
}
table {
    border: 1px solid black;
    width: 550px;
    border-collapse: collpase;
}

/* http://stackoverflow.com/questions/18754141/unordered-list-with-checkmarks-list-style-positions-outside-text-aligned-on-the */
.checklist li:before {
    content: '✔';
    margin-left: -1em;
    margin-right: .100em;
}
.checklist {
    padding-left: 20px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
}
.footer {
    background-color: darkblue;
    color: papayawhip;
    padding: 3px;
    text-align: center;
    clear: both;
    height: 28px;
}
.credit {
    text-decoration: none;
    color: white;
}